<?xml version="1.0" encoding="utf-8"?>
<robot name="token">
  <material name="mat_TokenWhiteWLogo">
    <texture filename="package://resources/tex_GameToken.png" />
  </material>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 -3.3E-05" />
      <mass value="1" />
      <inertia ixx="0.00238589663058519" ixy="2.40065967105352E-10" ixz="2.02899127543787E-06" iyy="0.00238589639775455" iyz="2.02882688427053E-06" izz="0.00475521385669708" />
    </inertial>
    <visual>
      <origin rpy="0 4.712389 0" />
      <geometry>
        <mesh filename="package://meshes/TokenWhiteWLogo.stl" scale="10 10 10" />
      </geometry>
      <material name="mat_TokenWhiteWLogo" />
    </visual>
    <collision>
      <origin rpy="0 4.712389 0" />
      <geometry>
        <mesh filename="package://meshes/TokenWhiteWLogo.stl" scale="10 10 10" />
      </geometry>
    </collision>
  </link>
</robot>